* {
  box-sizing: border-box;
}

html {
  background-color: black;
}


body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'header header'
  'main main'
  'hydration hydration'
  'sleep sleep'
  'activity activity'
  'trends trends';
}

header {
  grid-area: header;
}

div {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
}

main {
  grid-area: main;
}

article {
  display: flex;
}

.header__div {
  align-items: center;
  height: 10%;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}
.header__div--h1,
.header__div--date {
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  font-weight: 300; 
  color: #ffffff
}

.header__div--h1 {
  font-size: 50px;
}

.section-title{
  font-family: 'Roboto', sans-serif;
  font-size: 50px; 
  font-weight: 600; 
  color: #ffffff
}

.header__div,
.header__div--greeting,
.main__hydration,
.main__sleep,
.main__activity {
  border-radius: 10px;
}

.header__div--greeting {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}
.header__div--container {
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  width: 15%;
  text-align: center;
}

.top-text {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-weight: 300;
}

.space-under {
  margin-bottom: 30px;
}

.bottom-text {
  font-size: 20px;
  margin: 0;
  margin-top: -15px;
  margin-bottom: 5px;
}

.top-nums {
  font-size: 60px;
  font-family: 'Khula', sans-serif;
  margin: 0;
  margin-top: -15px;
}

.main__hydration {
  grid-area: hydration;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.main__hydration__article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.main__hydration--h3,
.main__sleep--h3,
.main__activity--h3 {
  font: 'Livvic' 400;
  font-size: 35px;
  margin: 10px 0 10px 10px;
}

.main__sleep--data--container,
.user-activity,
.allusers-activity {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.main__hydration--data--container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.hydration-stats-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.main__hydration__div--user--group,
.main__sleep__div--user--group {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.left--side--hydration,
.right--side--hydration {
  flex: 1 1 auto;
}

.left--side--hydration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weeklyHydro {
  width: 69%;
}

.user-name {
  font-size: 35px;
  margin: 5px 0 20px 0;
  font-family: 'Nunito', sans-serif;
}

.flexBox-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexBox-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: stretch;
}

.main__activity__article--data {
  display: flex;
}
.activity-holder,
.allusers-activity {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.user-activity {
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
}

.allusers-activity--charts {
  display: flex;
  flex-direction: column;
  width: 66%;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.main__sleep {
  grid-area: sleep;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}



.main__sleep--data-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.main__sleep--data--container{
  text-align: center;
}



.main__activity {
  grid-area: activity;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.main__trends {
  grid-area: trends;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.main__trends-formater {
  display: flex;
  flex-direction: row;
}

.main__trends__article {
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 33%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

#border-right {
  border-right: 2px solid black;
}

.graph-titles {
  margin-top: 15px;
  margin-bottom: -15px;
}
.main__trends__article {
  text-align: center;
}

/* *************************Media Query********************************/

.main__trends__article {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .header__div,
  .header__div--greeting,
  .main__hydration__article--data,
  .main__sleep__article--data,
  .main__activity__article--data,
  .main__trends-formater {
    flex-direction: column;
    align-content: center;
    align-content: center;
    justify-content: center;
  }

  .header__div--container,
  .main__hydration--data--container,
  .main__sleep--data--container{
    width: 93%;
  }

  .allusers-activity--charts,
  .main__trends__article {
    width: 93%
  }


  .main__hydration__div--user--group,
  .main__sleep__div--user--group,
  .activity-holder {
    width: 100%;
  }

  .graph-titles {
    margin-bottom: 0;
  }
}
